<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="https://magicbox.bkclouds.cc/static_api/analysis.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
    <script src="${STATIC_URL}js/csrftoken.js"></script>
</head>

<body class="bg-bright3" data-bg-color="bg-bright3">
    <div class="king-page-box">
        <div class="king-layout1-header">
            <nav role="navigation" class="navbar navbar-default king-horizontal-nav2    f14 ">
                <div class="container " style="width:100%;overflow:hidden;">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle-sm" data-toggle="collapse" data-target="#king-horizontal-nav2-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="javascript:;">
                          <img src="https://magicbox.bkclouds.cc/static_api/v3/bk/images/logo3.png" alt="" class="logo"> </a>
                    </div>
                    <div class="collapse navbar-collapse navbar-responsive-collapse" id="king-horizontal-nav2-collapse">
                        <ul class="nav navbar-nav">
                            <li class="king-navbar-active"><a href="javascript:void(0);">乘法计算</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="javascript:;">
                                    <span>管理者</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="king-layout2-main mt15" style="width:960px;">
            <div class="panel panel-default mb0">
                <div class="panel-heading"> 计算 </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="container-fluid mb0 ">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group clearfix ">
                                        <label class="col-sm-3 control-label bk-lh30 pt0">乘数：</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control bk-valign-top" id="cs" placeholder="请输入乘数"> </div>
                                    </div>
                                    <div class="form-group clearfix ">
                                        <label class="col-sm-3 control-label bk-lh30 pt0">被乘数：</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control bk-valign-top" id="bcs" placeholder="请输入被乘数"> </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="col-sm-9 col-sm-offset-3">
                                            <button type="button" class="king-btn mr10  king-success" id="cal">计算</button>
                                            <button type="button" class="king-btn king-default" id="reset" >重置</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="king-widget1  m0">
                                        <div class="king-widget2-content p25">
                                            <div class="king-counter king-counter-lg">
                                                <span class="king-counter-number" id="result">0</span>
                                                <div class="king-counter-label text-uppercase"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 设置面板Start -->
                                    <!-- 设置面板End -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default mb0">
                <div class="panel-heading"> 记录 </div>
                <div class="panel-body">
                    <table class="table mb0 pr15 ranger-box2  ">
                        <thead>
                            <tr>
                                <th style="width: 70px;">序号</th>
                                <th style="width: 15%;">乘数</th>
                                <th style="width: 15%;">被乘数</th>
                                <th style="width: 15%;">结果</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            % for c in ctx :
                            <tr>
                              <td style="width: 70px;">${c.id}</td>
                              <td style="width: 15%;">${c.cs}</td>
                              <td style="width: 15%;">${c.bcs}</td>
                              <td style="width: 15%;">${c.result}</td>
                              <td>
                                  <button class="btn btn-xs btn-success"> <i class="glyphicon glyphicon-ok"></i> </button>
                                  <button class="btn btn-xs btn-warning"> <i class="glyphicon glyphicon-edit"></i> </button>
                                  <button class="btn btn-xs btn-danger"> <i class="glyphicon glyphicon-remove"></i> </button>
                              </td>
                            </tr>
                            % endfor
                        </tbody>
                    </table>
                    <!-- 设置面板End -->
                </div>
            </div>
        </div>
    </div>
    <script>
      $(function(){
          $("#cal").click(function(){
            var cs = $("#cs").val();
            var bcs = $("#bcs").val();
            $.post(
              '${SITE_URL}cal',
              {
                cs: cs,
                bcs: bcs
              },
              function(res){
                if(res.stat){
                  $("#result").html(res.result);
                  location.reload();
                }
              },
              'json'
            )
          });

          $("#reset").click(function(){
            $("#cs").val('');
            $("#bcs").val('');
            $("#result").html('0');
          })
      });

      // $("#cal").click(function(){
      //   alert(1);
      // });
    </script>
</body>

</html>
